<div class="container mb-5 mt-4">
    <div class="row g-0">
      <div class="col-4 offset-4">
        <mat-form-field class="w-100">
          <mat-label>Rechercher un pokemon</mat-label>
          <input matInput id="search" type="text" name="searchTerm" #searchField [value]="searchTerm()" (input)="searchTerm.set(searchField.value)">
          @if (searchTerm()) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="searchTerm.set('')">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>
      </div>
    </div>
</div>
  
<div class="container text-center mt-4">
    <div class="row">
        @for (pokemon of pokemonsFiltered(); track pokemon.id) {
            <div class="col-2 mb-4">
                <mat-card 
                    class="pokemon-card" 
                    appearance="raised" 
                    appPokemonBorder 
                    [pokemonType]="pokemon.types[0]" 
                    [routerLink]="['/pokemons', pokemon.id]" 
                    (click)="setTitle(pokemon.name)"
                    >
                    <mat-card-header>
                        <mat-card-title-group class="d-flex align-items-center justify-content-space-between">
                            <mat-card-title>{{ pokemon.name }}</mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                    <img mat-card-image [src]="pokemon.picture" [alt]="pokemon.name">
                    <mat-card-content>
                        <p class="text-center">
                            Taille : {{ size(pokemon) }}
                            {{ pokemon.created | date:"dd/MM/yyyy" }}
                        </p>
                        <p class="text-center">
                            Point de vie : {{ pokemon.life }}
                            Dégâts : {{ pokemon.damage }}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        } @empty {         
            <p class="text-center">Il n'y a aucun pokemon dans ta recherche ! </p>
        }
    </div>
</div>